<!-- <p class="my-5 pt-5">contact works!</p> -->
<div class="contact my-5 py-5 d-flex flex-column justify-content-center align-items-center">
    <app-star [heading]="contactHeading" [bgWhite]="bgWhite"></app-star>
    <form class="w-50 mx-auto p-3 mt-5">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">User Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">User Age</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">User Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">User Password</label>
        </div>
        <button type="button" class="bg-main text-white p-2 rounded-2 border-0 mt-2">Send Message</button>
    </form>
</div>